{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock%}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tfoot>
        {% for stock in stocks %}
            <tr>
                <td scope="row">{{ stock[0]}}</td>
                <td>{{ stock[1] }}</td>
                <td>{{ stock[2] }}</td>
                <td>{{ stock[3] |usd}}</td>
                <td>{{ stock[4] |usd}}</td>
            </tr>
        {% endfor %}
            <tr>
                <td scope="row">CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash|usd }}</td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total|usd }}</td>
            </tr>
        </tfoot>
    </table>



{% endblock %}

